*{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.Headers{
    text-decoration: underline;
}

#Odin-Recipes{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.Recipes{
    text-align: center;
}